.item-boton .boton-cita {
    width: 217px;
    height: 70px;
    display: flex;
    justify-content: space-around;
    background-color: var(--color-boton);
    border-radius: 29px;    
    align-items: center;
    color: var(--color-blanco);
    
}

li {
    list-style: none;
}


.boton{
    margin-right: 3%;   
}

.item-boton .boton-cita i{
    font-size: 25px;
    position: relative;
    bottom: 8%;
}

.item-boton .boton-cita p{
    height: 20%;
}


.item-boton .boton-cita a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: var(--color-blanco);
    position: relative;
}

.item-boton .boton-cita a p{
    font-size: 20px;
    position: relative;
    transform: translateY(30%) translateX(-10%);
    
}

@media screen and (max-width:600px) {
    .item-boton .boton-cita{
        margin-top: 10%;
    }

    
}

@media screen and (max-width: 454px){
    .item-boton .boton-cita{
        width: 160px;
    }

   

    
}