.contenedor-cuenta h4{
    font-size: 30px;
}

.contenedor-cuenta h1{
    font-size: 20px;
    font-weight: bold;
    color: #484848;
    margin-bottom: 20px;
}

.delete{
    color: crimson;
}

.contenedor-cuenta input {
    width: 80%;
    height: 70px;
    border: 1px solid var(--color-plomo-c);
    border-radius: 8px;
    margin-bottom: 20px;
}

.btns-cuenta{
    display: flex;
    flex-direction: column;
}

.btns-cuenta button:nth-child(1){
    width: 200px;
    height: 60px;
    margin-bottom: 20px;
}

.btns-cuenta button:nth-child(2){
    width: 200px;
    height: 60px;
}