body {
  margin: 0;
  font-family: 'Inter', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFFFFF;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --color-boton: #00A879;
  --color-blanco: #FFFFFF;
  --color-negro: #000000;
  --tamaño-titulo: 6rem;
  --tamaño-parrafos: 1.25rem;
  --ancho-parrafos: 300;
  --color-plomo: #F9F9F9;
  --color-verde-o: #42816C;
  --color-plomo-c: #EBEBED;
  --border-caja: 15px;
  --color-difuminado: #484848;
}